$color-warning: #FF9A2A;
$color-success: #7FBC39;
$color-primary: #00B4CF;
$color-primary-active: #01869A;
$color-info: #2D4054;
$color-info-active: #435466;
$color-default: #F3F3F3;
$color-default-active: #E1E4E6;